@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #3b82f6, #9333ea);
  z-index: 9999; 
  border-radius: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #9333ea;
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide{
  display: flex;
  animation: slide 20s linear infinite;
}

.animate-slide:hover {
  animation-play-state: paused;
}